body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

/* #slider {
  position: absolute;
  top: 30px;
  left: 20px;
} */
.controlPanel {
  z-index: 10;
  position: absolute;
  text-align: center;
  /* background-color: darkslateblue; */
  background: rgba(76, 175, 80, 0.3);
  width: 850px;
  height: 30px;
  border: 2px;
  /* border-color: white; */
  background-color: transparent;
  text-align: left;
  border: 1px solid #7107f2;
  /* background-color: rgb(115, 96, 122); */
  font-size: 16;
  opacity: 0.5;
}

#quote {
  z-index: 11;
  position: absolute;
  left: 50%;
  top: 10%;
}
#container {
  /* height: 50%; */
  width: 50%;

  /* background-color: #8cffa0; */
  animation: rotation 9s ease-in-out;
  /* -webkit-filter: invert(1);
   filter: invert(1); */
  /* display: block;
   width: 100%;  */
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 50%;
  /* mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg); */
  mask-mode: alpha;
  /* mask-image: linear-gradient (rgb(0, 0, 0), transparent); */
}

#new_element {
  z-index: 12;
  position: fixed;
  left: 7%;
  top: 10%;
  height: 20%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  /* border: 5px white solid; */
  /* border-radius: 50%; */
  overflow: hidden;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
}

.new_element {
  z-index: 12;
  position: fixed;
  left: 7%;
  top: 10%;
}

canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  height: 100%;
  /* animation: rotation 4s infinite linear; */
  /* box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
}

#pngOverlay {
  z-index: 12;
  position: absolute;
  left: 85%;
  top: 10%;
  height: 20%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  animation: rotation 4s infinite;
  resize: both;
  /* overflow: auto; */
  /* transform: translatey(0px);
	animation: float 6s ease-in-out infinite; */
  /* img { width: 100%; height: auto; } */
}

#bottomOverlay {
  position: absolute;
  top: 75%;
  z-index: 12;
  width: 2000px;
  height: 250px;
  overflow: hidden;
  resize: both;
}
#topOverlay {
  position: absolute;
  /* left: 2.5%; */
  top: 3.55%;
  z-index: 12;
  width: 1000px;
  height: 55px;
  overflow: hidden;
  resize: both;
}

#pngOverlay1 {
  z-index: 12;
  position: absolute;
  left: 2.5%;
  top: 8%;
  height: 70%;
  width: 47%;
  /* width: 50%;
	height:50%; */
  box-sizing: border-box;
  /* border: 2px white solid; */
  border-radius: 0%;
  overflow: hidden;
  resize: both;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  /* animation: rotation 4s infinite ; */
  /* transform: translatey(0px);
	animation: float 6s ease-in-out infinite; */
  /* img { width: 100%; height: auto; } */
}
#fileForm {
  z-index: 12;
  position: absolute;
  left: 2.5%;
  top: 90%;
  height: 70%;
  width: 47%;
  /* width: 50%;
  height:50%; */
  box-sizing: border-box;
  /* border: 2px white solid; */
  border-radius: 0%;
  overflow: hidden;
  resize: both;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  /* animation: rotation 4s infinite ; */
  /* transform: translatey(0px);
  animation: float 6s ease-in-out infinite; */
  /* img { width: 100%; height: auto; } */
}
#block {
  z-index: 00;
  position: absolute;
  left: 2.5%;
  top: 90%;
  height: 70%;
  width: 47%;
  /* width: 50%;
  height:50%; */
  box-sizing: border-box;
  /* border: 2px white solid; */
  border-radius: 0%;
  overflow: hidden;
  resize: both;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  /* animation: rotation 4s infinite ; */
  /* transform: translatey(0px);
  animation: float 6s ease-in-out infinite; */
  /* img { width: 100%; height: auto; } */
  background-color: #000;
}

#lower_left {
  z-index: 21;
  cursor: move;
  position: absolute;
  left: 75%;
  top: 50%;
  height: 50%;
  width: 70%;
  overflow-y: auto;
  padding: 2px;
  overflow: hidden;
  resize: both;
}

#lower_middle {
  z-index: 21;
  cursor: move;
  position: absolute;
  left: 55%;
  top: 61%;
  height: 50%;
  width: 70%;
  overflow-y: auto;
  padding: 2px;
}

#pngOverlay2 {
  z-index: 12;
  position: absolute;
  left: 2.5%;
  top: 8%;
  height: 70%;
  width: 47%;
  /* width: 50%;
	height:50%; */
  box-sizing: border-box;
  /* border: 2px white solid; */
  border-radius: 0%;
  overflow: hidden;
  resize: both;
   border: 2px solid;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  /* animation: rotation 4s infinite ; */
  /* transform: translatey(0px);
	animation: float 6s ease-in-out infinite; */
  /* img { width: 100%; height: auto; } */
}

/* .controlPanelHeader {
  white-space: nowrap;
  vertical-align: middle;
  color: black;
  text-transform: uppercase;
  font: 600 15px/1 system-ui, sans-serif;
  display: inline-block;
  transform: translate(45px, -10px);
} */

.button {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  padding: 1px;
}
button:hover {
  color: blue;
}
.button:active {
  position: relative;
  top: 1px;
}

.rotate {
  /* width: 100px; */
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.glow-on-hover {
  width: 210px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

form {
  background-color: #45456b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: -100;
}

/* Input and button styles */
input[type="file"] {
  border: 2px solid #ff8f00; /* Orange border */
  background-color: #3d3d5c;
  color: #d1c4e9; /* Light purple text */
  padding: 8px;
  margin-bottom: 10px;
  width: calc(100% - 22px); /* Full-width minus border and padding */
  border-radius: 4px;
}
